
/*Please note particular parts in the redling have been over calculated and restricted certian movement. This means in appearance it is the same but the pixel values may have had to be changed ever so slightly. for the purposes of the website screen visability structure*/


* {
    box-sizing:border-box;
    padding:0;
    margin:0;
}
.ln{ 
    border: 1px solid black;}

header{
    margin: 0 0 0 0;
    width:100%;
    height:105px;
    padding:0 0 30px 0;
    position: relative;
    box-shadow:  0 3px 6px rgba(0, 0, 0, 16%);
    display: flex;
    align-items:flex-end;
    flex-direction: column;
}
.loader
{
   height: 100vh;
   overflow: hidden;
   background: linear-gradient(0deg, rgba(79,117,140,1) 0%, rgba(255,255,255,1) 32%);
   position: relative;
   display:flex;
   justify-content: center;
   margin:0;
z-index: 100000;
}

.loader>div { 
    height: 100px;
    width:100px;
    border:15px solid rgb(79,117,140);
border-top:15px solid rgba(53,59,64,1) ;
    position:absolute; 
    margin:auto;
    align-self:center;
    border-radius: 50%;
    animation:spin 1.5s infinite linear;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    } 

}
/*.wholepage{
    display: /none;
}*/

p{font-family: 'Montserrat', sans-serif;
    Font-size: 16px;} 
    
.TopBar{
Width:100%;
position:absolute;
height:25px;
background-color:#2f2f2f;
box-shadow: 0 3px 14px rgba(0, 0, 0, 63%);
z-index: 1;
align-self:flex-start;
}
nav {
    /*border: 1px solid black;*/
    margin:1.5rem 0 0 0;
    width:100%;
    height:40rem;
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
}

ul{
    margin:0;
    height:2rem;
    align-items: baseline;
    justify-content: right;
    padding-right: 3.4%;
} 
a{
    margin:0;
    justify-content: left;
    margin-top: 0rem;
    cursor: pointer;
}
#logo{
    width: 150px;
}
img{
    width: 150px;
  margin-right: auto;
}
#Casestudies{
    width:100%;
    height:40px;
    margin: 4rem 0 0 0;
    font-family: 'Montserrat', sans-serif;
    Font-size: 16px;
    padding: 0 12px 10px 2px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color:#2f2f2f;
    background-image:url("/Images/Cross\ out.png");
    background-repeat: no-repeat;
    background-size:3.8rem;
    background-position: bottom left;}

.UxNavBar {

    height:40px;
    margin: 4rem 0 0 0;
    font-family: 'Montserrat', sans-serif;
    Font-size: 16px;
    padding: 0 12px 5px 2px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color:#2f2f2f;
    justify-content: right;
}

.UxNavBar:hover {
    width:100%;
  
    height:40px;
    margin: 4rem 0 0 0;
    font-family: 'Montserrat', sans-serif;
    Font-size: 16px;
    padding: 0 12px 5px 2px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color:#2f2f2f;
    background-image:url("/Images/underline.png");
    background-repeat: no-repeat;
    background-size:3.8rem;
    background-position: bottom left;
}

.UxNavBar:active {
    width:100%;
    height:40px;
    margin: 4rem 0 0 0;
    font-family: 'Montserrat', sans-serif;
    Font-size: 16px;
    padding: 0 12px 5px 2px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color:#2f2f2f;
    background-image:url("/Images/Cross\ out.png");
    background-repeat: no-repeat;
    background-size:3.8rem;
    background-position: bottom left;
}
.Industrialarrow {
    margin:0;
    padding: 0 0 0 0;
    width:20px;
    cursor: pointer;
    align-self: flex-end;}

.CaseStudies{
    margin: 4% 0 0 .5%;
}
main {
    float:left;
    max-width: 35%;
   /* border:1px solid black;*/
    font-family: 'Montserrat', sans-serif;
    Font-size: 14px;
    flex-wrap:wrap;
}
h2{
    font-family: 'Montserrat', sans-serif;
    Font-size: 2.5rem;
    font-weight:bold;
    letter-spacing: 0.26px;
    line-height: 30px;
    color: #4F758C;
    
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
h4 { 
    font-family: 'Montserrat', sans-serif;
    Font-size: 1.625rem;
    font-weight:bold;
    color: #4F758C; 
    padding: 62px 0 8.1px 0 
}
h3 { 
    font-family: 'Montserrat', sans-serif;
    Font-size: 1.5rem;
    font-style: italic;
    font-weight:bold;
    color: white; 
    line-height: 30px;
    padding: 0 0 1.5rem 0; }
button{
    display:block;
    border:none;
    Color: #fafafa;
    background-color:#5f6973;
    Padding: 5.5px 14px;
    border-radius:18px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #fafafa;
    color:#5f6973;
    border: 2px solid #6D96A6;
    transition:ease-in-out 300ms 300ms
}
aside {
    width:45%;
    margin-right: 8rem;
    float:right;
   /*border: 1px solid black; */
    display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr);

}
.nested{
    display:grid;
    grid-template-columns: 90px 90px;
    grid-template-rows: 29px;
    grid-gap: 16px;
    grid-column: 1/4;
    grid-row: 1/4;

    justify-content: right;
}
.pdf{
    height: auto;
    margin:0;
    align-items:flex-end;
    
}
.Coverimage{
    width:110%;
    position:block;
   align-items:flex-end;
   clip-path: inset(0% 4.5% 0% 0%);
   margin: 10% -10% 0 0;
   grid-column: 1/4;
}



/*MyWorkPage*/

.CaseStudy
{
    Padding:30px 0px 0 0px;
    margin: 0;
    width:80rem;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 16px;
    position:relative;
}

.JetOff{
   grid-area:1/1;
    display:block;
    width:100%;
}

.JetOffoverlay{
    grid-area:1/1/1/1;
    position: absolute;
    top:0; 
    left:0;
    width:100%;
    height:91%;
    background-color:#394A59;
    color:white;
    Display:flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 2.2rem 6rem; 
    Opacity:0%;
    transition: opacity 0.25s;
}

.JetOffoverlay:hover{
    grid-area:1/1/1/1;
    position: absolute;
    top:0; 
    left:0;
    width:100%;
    height: 100%;
    background-color:#394A59;
    color:white;
    Display:flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 2.2rem 6rem; 
    Opacity:1;
    transition: opacity 0.25s;
}

.JetOffoverlay > *{
    transform: translateY(20px);
    transition: transform 0.25s;
}
.JetOffoverlay:hover > *{
    transform: translateY(0px);
}


.Itemis{
    grid-area:1/2/1/2;
     display:block;
     width:100%;
 }
 
 .Itemisoverlay{
     grid-area:1 / 2/ 1 / 2;
     position: absolute;
     top:0; 
     left:0;
     width:100%;
     height:100%;
     background-color:#394A59;
     color:white;
     Display:flex; 
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-end;
     padding: 0 0 2.2rem 6rem; 
     Opacity:0%;
     transition: opacity 0.25s;
 }
 
 .Itemisoverlay:hover{
     grid-area:1 / 2/ 1 / 2;
     position: absolute;
     top:0; 
     left:0;
     width:100%;
     height:100%;
     background-color:#394A59;
     color:white;
     Display:flex; 
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-end;
     padding: 0 0 2.2rem 6rem; 
     Opacity:1;
     transition: opacity 0.25s;
 }
 
 .Itemisoverlay > *{
     transform: translateY(20px);
     transition: transform 0.25s;
 }
 .Itemisoverlay:hover > *{
     transform: translateY(0px);
 }

 .Life_BeInIt{
    grid-area:1/3/1/3;
     display:block;
     width:100%;
 }
 
 .Life_BeInItoverlay{
     grid-area:1 / 3/ 1 / 3;
     position: absolute;
     top:0; 
     left:0;
     width:100%;
     height:91%;
     background-color:#394A59;
     color:white;
     Display:flex; 
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-end;
     padding: 0 0 2.2rem 6rem; 
     Opacity:0%;
     transition: opacity 0.25s;
 }
 
 .Life_BeInItoverlay:hover{
     grid-area:1 / 3/ 1 / 3;
     position: absolute;
     top:0; 
     left:0;
     width:100%;
     height:100%;
     background-color:#394A59;
     color:white;
     Display:flex; 
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-end;
     padding: 0 0 2.2rem 6rem; 
     Opacity:1;
     transition: opacity 0.25s;
 }
 
 .Life_BeInItoverlay> *{
     transform: translateY(20px);
     transition: transform 0.25s;
 }
 .Life_BeInItoverlay:hover > *{
     transform: translateY(0px);
 }

 .sidebar {
     background-color: white;
     position: absolute;
     left:4.5rem;
     width:1rem;
     height:7rem;
     padding:0;
 }
 .footer {
    /* border: 1px solid black; */
     width: 100%;
    max-height:6rem;
     padding: 0px 0 0px 0;
     display:flex;
     flex-direction: column;
 
 }
 .socialmedia {
     width: 100%;
     position:relative;
     align-self: flex-end;
    
     
 }
 hr {border:none;
     border-bottom: 1px solid #6D96A6;
     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
     }
 
 .sociallinks {
     float:right;
     width:2%;
     position:inline;
     padding: 10px 14px 7px 0; 
     cursor: pointer;
     align-items: baseline;
 }
 
 .smalltext {
     font-family: 'SFProText', sans-serif;
     Font-size: 10px;
     font-weight:normal;
     letter-spacing: 0.26px;
     margin: 1% 0 0 8.5%;
 }
 #update{
     font-family: 'SFProText', sans-serif;
     Font-size: 10px;
     font-weight:normal;
     letter-spacing: 0.26px;
     line-height:30px; 
     margin: 0 0 0 11%;
 }